.accountDescription {
    font-size: 20px;
    color: #424242;
    margin-top: 10px;
    margin-bottom: 15px;
}

.accountButton {
    padding: 10px 30px;
    background-color: #387ed1;
    color: white;
    margin-bottom: 120px;
}

.accountHeading {
    color: #424242;
}

.navbar-border {
    border-bottom: 1px solid lightgray;
    background-color: white;
    height: 67px;
}

.nav-image {
    height: 17px;
    width: 130px;
}

.nav-link {
    color: #424242 !important;
    margin-right: 20px;
    font-size: 14.4px;
}

.nav-toggler {
    border: none !important;
    background-color: white;
}

.nav-link:hover {
    color: #387ed1 !important;
}


.footer-image {
    height: 22px;
    width: 180px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.footer-content {
    font-size: 10.4px;
    color: #9B9B9B;
    padding-top: 40px;
}

.col a {
    text-decoration: none;
    color: #666666;
    font-size: 14px;
    display: inline-block;
    margin-bottom: 12px;
}

.col p {
    font-size: 18px;
    color: #666666;
}

.footer-border {
    padding-top: 30px;
    background-color: #FBFBFB;
}

.footer-icon {
    margin-top: 15px;
    margin-bottom: 15px;
    color: #666666;
    font-size: 18px;
    margin-right: 15px;
}

.footer-icon:hover {
    color: #387ed1;
}

.footer-bottom-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-bottom-links {
    margin-right: 20px;
    
}

.footer-bottom-links a {
    text-decoration: none;
    color: #9B9B9B;
    font-size: 12PX;
}