.HeroHeading {
    font-size: 28px;
    padding-top: 100px;
}

.HeroContent {
    font-size: 20px;
    font-weight:400;
    padding-bottom: 100px;
}

.PriceContent {
    font-size: 16px;
    margin-top: 20px;
}

.PricesContainer {
    margin-top: 80px;
}

.equal-columns {
    table-layout: fixed;
    width: 100%;
    border: 1px solid rgb(221, 221, 221);
}

.equal-columns th,
.equal-columns td {
    text-align: center;
    font-size: 14px;
    color: #424242;
    padding: 12px 15px;
}

.equal-columns th {
    font-weight: 500;
}

.BrokerageTable {
    font-size: 24px;
    margin-bottom: 30px;
}

.BrokerageTable th {
    font-weight: 500;
    color: #387ed1;
    padding: 6px 15px;
    margin-right: 5px;
}

.BrokerageTable th:hover {
    color: #424242;
    cursor: pointer;
}

.BrokerageContainer {
    padding: 80px 0;
}

.AccountCharges {
    width: 95%;
}

.AccountCharges th{
    text-align: left;
}

.AccountCharges td {
    text-align: left;
}

.DematTable {
    margin-top: 80px;
}

.AccountCharges caption {
    margin-top: 12px;
    margin-bottom: 15px;
    font-size: 12px;
}