.Hero-heading {
    margin-top: 100px;
    margin-bottom: 100px;
    font-size: 24px;
    font-weight: 400;
    color: #424242;
}

.Hero-content {
    margin-top: 100px;
}

.ceo-image {
    height: 295px;
    width: 295px;
    border-radius: 50%;
}

.Team-Content {
    margin-top: 80px;
    color: #424242;
}

.Team-Content h3 {
    margin-bottom: 20px;
}

.Team-row {
    padding-top: 40px;
    padding-bottom: 50px;
}

.Team-image-content {
    margin-top: 20px;
}