.loginImage {
  display: flex;
  justify-content:flex-end;  
  align-items: center;   
  height: 70vh;        
}

.loginImage img {
  max-width: 100%;
  margin-right: 150px;
  height: auto;
}

html, body, #root { height: 100%; }

.page { 
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.page main{ 
  flex: 1 1 auto; 
}

.footer {
  position: fixed;           
  left: 0;
  bottom: 0;
  width: 100%;            
  border-top: 1px solid lightgray;
  background-color: white;   
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 90px;           
  padding-right: 200px;
  z-index: 100;
}

.footer button {
  background-color: #387ed1;
  color: white;
  border: none;
  padding: 10px 40px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

.footer button:hover {
  background-color: #0056b3;
}

.form-control:focus {
  box-shadow: none !important;   
  outline: none !important;     
  border-color: #ccc !important; 
}

.inputBox {
    width: 400px;
}

